<div
  class="card d-flex justify-content-center align-items-center form-container"
>
  <p class="text-Primary text-center fs-4 mb-0">
    <strong>Información del psicólogo</strong>
  </p>
  <form [formGroup]="UpdatePsychologistform" (ngSubmit)="updatePsychologist()">
    <div class="mb-3">
      <div>
        <label for="cedula" class="form-label">Cédula:</label>
        <input
          type="text"
          class="form-control"
          id="cedula"
          placeholder="Ingrese la cédula"
          formControlName="cedula"
          [disabled]="false"
        />
        </div>

      <div>
        <label for="name" class="form-label">Nombre:</label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Ingrese el nombre"
          formControlName="name"
        />
        <div
          class="alert alert-danger mt-2 rounded"
          *ngIf="name.invalid && name.touched"
        >
          El nombre debe tener entre 3 y 50 caracteres y solo debe contener
          letras.
        </div>
      </div>
      <div>
        <label for="sex" class="form-label d-block">Género:</label>
        <div class="input-group">
          <select
            id="sex"
            class="form-control"
            formControlName="sex"
            placeholder="Seleccione el género"
          >
            <option value="" disabled selected>Seleccione el género</option>
            <option value="m">Masculino</option>
            <option value="f">Femenino</option>
          </select>
          <span class="input-group-text"
            ><i class="bi bi-caret-down-fill"></i
          ></span>
        </div>
        <div
          class="alert alert-danger mt-2 rounded"
          *ngIf="sex.touched && sex.invalid"
        >
          El género es obligatorio.
        </div>
      </div>


      <div>
        <label for="email" class="form-label">Correo:</label>
        <input
          type="text"
          class="form-control"
          id="email"
          placeholder="Ingrese el correo"
          formControlName="email"
        />
        <div
          class="alert alert-danger mt-2 rounded"
          *ngIf="email.invalid && email.touched"
        >
          El correo es obligatorio y debe ser válida.
        </div>
      </div>

      <div class="form-check mb-3">
        <input
          class="form-check-input"
          type="checkbox"
          id="changePassword"
          formControlName="changePassword"
          (change)="onChangePasswordCheckboxChange()"
        />
        <label class="form-check-label" for="changePassword">
          Cambiar contraseña
        </label>
      </div>

      <div>
        <label for="password" class="form-label">Contraseña:</label>
        <div class="input-group">
          <input
            type="{{ hidePassword ? 'password' : 'text' }}"
            id="password"
            formControlName="password"
            class="form-control"
            placeholder="Ingresa una contraseña"
            [disabled]="!UpdatePsychologistform.get('changePassword')?.value"
            />
          <div class="input-group-append">
            <span class="input-group-text">
              <button
                type="button"
                class="btn btn-pssword"
                (click)="togglePasswordVisibility()"
              >
                <i
                  class="pi"
                  [ngClass]="hidePassword ? 'pi-eye' : 'pi-eye-slash'"
                ></i>
              </button>
            </span>
          </div>
          <div class="alert alert-danger mt-2 rounded" *ngIf="password.invalid && password.touched">
            La contraseña debe tener entre 8 y 20 caracteres.
          </div>
        </div>
      </div>

      <div class="text-center mt-3">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="UpdatePsychologistform.invalid"
        >
          Guardar
      </button>
      </div>
    </div>
  </form>
</div>
