.questions-container {
<<<<<<< Updated upstream
    height: auto;
    max-height: 550px;
=======
    height: 950px;
>>>>>>> Stashed changes
    overflow-y: auto;
}

#questions-responses {
    border-radius: 20px;
    height: auto;
}