<div class="container mt-5">
  <div class="search-bar input-group">
    <span class="input-group-text"><i class="bi bi-search"></i></span>
    <input
      id="searchInput"
      type="text"
      class="form-control"
      placeholder="Buscar por nombre"
      (input)="onSearchChange($event)"
    />
  </div>

  <table class="table text-center mt-2">
    <thead class="thead">
      <tr>
        <th>N°</th>
        <th>Cédula</th>
        <th>Nombre</th>
        <th>Género</th>
        <th>Correo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let psychologist of filteredPsychologists; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ psychologist.cedula }}</td>
        <td>
          <i class="bi bi-person fs-3"></i>
          {{ psychologist.name }}
        </td>
        <td>{{ psychologist.sex === 'm' ? 'Masculino' : 'Femenino' }}</td>
        <td>{{ psychologist.email }}</td>
        <td>
          <a class="text-info text-decoration-none" (click)="editPsychologist(psychologist.cedula)">
            <i class="bi bi-pencil fs-4"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
