<app-alert [message]="alertMessage" [type]="alertType" #alert> </app-alert>

<div class="container mt-5">
  <div class="search-bar input-group">
    <span class="input-group-text"><i class="bi bi-search"></i></span>

    <input
      id="searchInput"
      type="text"
      class="form-control"
      placeholder="Buscar por nombre"
      (input)="filterTable($event)"
    />
  </div>

  <table class="table text-center mt-2">
    <thead class="thead">
      <tr>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Género</th>
        <th>Grado escolar</th>
        <th>Fecha del test</th>
        <th>Resultados</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody id="patientTableBody">
      <tr *ngFor="let patient of filteredPatients">
        <td>
          <i class="bi bi-person fs-3"></i>
          {{ patient.child_name }}
        </td>
        <td>{{ patient.child_age }}</td>
        <td>{{ getGender(patient.child_sex) }}</td>
        <td>{{ getScholarGrade(patient.scholar_grade) }}</td>
        <td [ngClass]="{ 'text-Secondary': !patient.date_time_of_answer }">
          {{ formatDateTime(patient.date_time_of_answer) }}
        </td>
        <td>
          <ng-container *ngIf="patient.date_time_of_answer; else noAnswer">
            <a
              class="text-info text-decoration-none"
              [routerLink]="['/cuestionario/resultado']"
              [queryParams]="{ testId: patient.test_id }"
            >
              <i class="bi bi-eye fs-4" title="Ver resultados"></i>
            </a>
          </ng-container>
          <ng-template #noAnswer>
            <span class="text-Secondary">Sin resultados</span>
          </ng-template>
        </td>
        <td>
          <i
            *ngIf="patient.isTokenValid && !patient.date_time_of_answer"
            class="bi bi-link fs-4 me-4"
            (click)="copyInvitationLink(patient.token)"
            title="Copiar enlace de invitación"
          ></i>
          <i
            class="bi bi-trash3 fs-5"
            (click)="deleteTestSession(patient.test_id)"
            title="Borrar test"
          ></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
