<div
  class="login-container d-flex justify-content-center align-items-center vh-100"
>
  <div class="login-card d-flex">
    <div class="login-image">
      <img
        class="img-fluid"
        src="assets/images/login-image.png"
        alt="Login Image"
      />
    </div>
    <div class="login-form-container p-5">
      <h1 class="text">Hola!</h1>
      <h2 class="text-second mb-4">Iniciar Sesión</h2>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="mb-3">
          <label for="role" class="form-label">Rol</label>
          <div class="input-group">
            <select id="role" formControlName="role" class="form-control">
              <option value="psychologist">Psicólogo</option>
              <option value="admin">Administrador</option>
            </select>
            <div class="input-group-append">
              <span class="input-group-text"
                ><i class="pi pi-angle-down"></i
              ></span>
            </div>
          </div>
        </div>
        <div
          *ngIf="
            loginForm.get('role')?.touched && loginForm.get('role')?.invalid
          "
          class="text-danger"
        >
          El rol es requerido.
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Correo electrónico:</label>
          <div class="input-group">
            <input
              type="email"
              id="email"
              formControlName="email"
              class="form-control"
              placeholder="Ingresa tu correo"
            />
            <div class="input-group-append">
              <span class="input-group-text"><i class="pi pi-user"></i></span>
            </div>
          </div>
          <div
            *ngIf="
              loginForm.get('email')?.touched && loginForm.get('email')?.invalid
            "
            class="text-danger"
          >
            <div *ngIf="loginForm.get('email')?.errors?.['required']">
              El correo electrónico es requerido.
            </div>
            <div *ngIf="loginForm.get('email')?.errors?.['email']">
              Correo electrónico no es válido.
            </div>
          </div>
        </div>
        <div class="mb-4">
          <label for="password" class="form-label">Contraseña:</label>
          <div class="input-group">
            <input
              type="{{ hidePassword ? 'password' : 'text' }}"
              id="password"
              formControlName="password"
              class="form-control"
              placeholder="Ingresa tu contraseña"
            />
            <div class="input-group-append">
              <span class="input-group-text">
                <button
                  type="button"
                  class="btn btn-pssword"
                  (click)="togglePasswordVisibility()"
                >
                <i [class]="hidePassword ? 'pi pi-eye-slash' : 'pi pi-eye'"></i>

                </button>
              </span>
            </div>
          </div>
          <div
            *ngIf="
              loginForm.get('password')?.touched &&
              loginForm.get('password')?.invalid
            "
            class="text-danger"
          >
            <div *ngIf="loginForm.get('password')?.errors?.['required']">
              La contraseña es requerida.
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary w-100">
          Iniciar Sesión
        </button>
      </form>
    </div>
  </div>
</div>
