<form [formGroup]="pyschologistForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Nombre<span class="text-danger">*</span></label>
    <input
      type="text"
      class="form-control"
      id="name"
      placeholder="Nombre"
      aria-required="true"
      [class.is-invalid]="
        nameFormControl.touched && nameFormControl.invalid
      "
      formControlName="nameFormControl" />
    @if (nameFormControl.touched && nameFormControl.invalid) {
      <div class="invalid-feedback">
        @if (nameFormControl.errors?.['required']) {
          <div>Por favor, ingresa tu nombre.</div>
        }
      </div>
    }
  </div>

  <div class="form-group">
    <label for="cedula">Cédula<span class="text-danger">*</span></label>
    <input
      type="text"
      class="form-control"
      id="cedula"
      placeholder="Cédula"
      aria-required="true"
      formControlName="cedulaFormControl"
      [class.is-invalid]="
        cedulaFormControl.touched && cedulaFormControl.invalid
      " />

    @if (cedulaFormControl.touched && cedulaFormControl.invalid) {
      <div class="invalid-feedback">
        @if (cedulaFormControl.errors?.['required']) {
          <div>Por favor, ingresa tu cédula.</div>
        }
        @if (cedulaFormControl.errors?.['cedula']) {
          <div>
            El número de cédula es inválido. Por favor, asegúrate
            de que esté escrito correctamente.
          </div>
        }
      </div>
    }
  </div>

  <div class="form-group">
    <label for="sex">Sexo<span class="text-danger">*</span></label>
    <input
      type="sex"
      class="form-control"
      id="sex"
      placeholder="Sexo"
      aria-required="true"
      formControlName="sexFormControl"
      [class.is-invalid]="
        sexFormControl.touched && sexFormControl.invalid
      " />
    @if (sexFormControl.touched && sexFormControl.invalid) {
      <div class="invalid-feedback">
        @if (sexFormControl.errors?.['required']) {
          <div>Por favor, ingresa tu sexo.</div>
        }
      </div>
    }
  </div>

  <div class="button-group">
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="pyschologistForm.invalid">
      Registrar
    </button>
    <button type="button" class="btn btn-secondary" routerLink="../">
      Cancelar
    </button>
  </div>
</form>
