<div class="card container-fluid text-Primary" >
    <div class="row pt-3 ps-5 pe-5">
      <div class="col-md-6">
        <div class="row mb-3 align-items-start">
          <label for="name" class="col-sm-4 col-form-label">Nombre:</label>
          <div class="col-sm-8">
            <input id="name" name="name" class="form-control" placeholder="Juan David Perez Díaz">
          </div>
        </div>
        <div class="row mb-3 align-items-center">
          <label for="age" class="col-sm-4 col-form-label">Edad:</label>
          <div class="col-sm-8">
            <input id="age" name="age" class="form-control" placeholder="6">
          </div>
        </div>
        <div class="row mb-3 align-items-center">
          <label for="gender" class="col-sm-4 col-form-label">Género:</label>
          <div class="col-sm-8">
            <input id="gender" name="gender" class="form-control" placeholder="Masculino">
          </div>
        </div>
        <div class="row mb-3 align-items-center">
          <label for="reason" class="col-sm-4 col-form-label">Motivo:</label>
          <div class="col-sm-8">
            <textarea id="reason" name="reason" class="form-control" rows="3"></textarea>
          </div>
        </div>
      </div>
  
      <div class="col-md-6">
        <div class="row mb-3 align-items-center">
          <label for="schoolGrade" class="col-sm-4 col-form-label">Grado:</label>
          <div class="col-sm-8">
            <input id="schoolGrade" name="schoolGrade" class="form-control" placeholder="3ro Básica">
          </div>
        </div>
        <div class="row mb-3 align-items-center">
          <label for="date" class="col-sm-4 col-form-label">Fecha del test:</label>
          <div class="col-sm-8">
            <input id="date" name="date" type="date" class="form-control">
          </div>
        </div>
        <div class="row mb-3 align-items-center">
          <label for="sender" class="col-sm-4 col-form-label">Remitente:</label>
          <div class="col-sm-8">
            <input id="sender" name="sender" class="form-control" placeholder="Jhon Perez">
          </div>
        </div>
      </div>
    </div>
  </div>
  