<div class="container text-Primary px-5 py-4 bg-Secondary shadow-sm">
  <div class="row" *ngIf="patientData">
    <div class="col-6">
      <div class="row mb-2">
        <div class="col-sm-3 fwb">Nombre:</div>
        <div class="col-sm-9 text-Secondary" >{{ patientData.name }}</div>
      </div>
      <div class="row mb-2">
        <div class="col-sm-3 fwb">Edad:</div>
        <div class="col-sm-9 text-Secondary">{{ patientData.age }}</div>
      </div>
      <div class="row mb-2">
        <div class="col-sm-3 fwb">Género:</div>
        <div class="col-sm-9 text-Secondary">{{ getGender(patientData.sex) }}</div>
      </div>
      <div class="row mb-2">
        <div class="col-sm-3 fwb">Motivo:</div>
        <div class="col-sm-9 text-Secondary">{{ patientData.test_reason }}</div>
      </div>
    </div>

    <div class="col-6">
      <div class="row mb-2">
        <div class="col-sm-4 fwb">Grado escolar:</div>
        <div class="col-sm-8 text-Secondary">{{ getScholarGrade(patientData.scholar_grade) }}</div>
      </div>
      <div class="row mb-2">
        <div class="col-sm-4 fwb">Fecha test:</div>
        <div class="col-sm-8 text-Secondary">{{ formatDateTime(patientData.test_date) }}</div>
      </div>
      <div class="row mb-2">
        <div class="col-sm-4 fwb">Remitente:</div>
        <div class="col-sm-8 text-Secondary">{{ patientData.test_sender }}</div>
      </div>
    </div>
  </div>
</div>
